<launch>
  <arg name="dataset" default="bl_sim"/>
  <arg name="mon_nav_config_file" default=""/> 
  <arg name="map" default="$(find strands_morse)/uol/maps/uol_bl.yaml"/>
 
  <!--- Topological Navigation (includes monitored_navigation) -->
  <include file="$(find topological_navigation)/launch/topological_navigation.launch">
    <arg name="map" value="$(arg dataset)"/>
    <arg name="mon_nav_config_file" value="$(arg mon_nav_config_file)"/>
  </include>  

</launch>
